<div class="row" style="margin-top: 30px; text-align: right;">
  <div class="col-12">
    <a class="btn btn-outline-primary" routerLink="/socios/add">Adicionar Socio</a>
  </div>
</div>

<div class="row" style="margin-top: 30px;">
  <div class="col-12">
    <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" 
    class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of socios">
          <td>{{ s.id }}</td>
          <td><a routerLink="/socios/{{s.id}}/view">{{ s.pessoa.nome }}</a></td>
          <td><a href="mailto:{{ s.pessoa.email }}">{{ s.pessoa.email }}</a></td>
          <td>{{ s.pessoa.dataNascimento | date : "dd/MM/yyyy" }}</td>
          <td>
            <a class="btn btn-outline-warning btn-sm" routerLink="/socios/{{s.id}}/edit">Editar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>